<img id="logo" src="/imgs/logo_final.png" class="rounded mx-auto d-block" style="width: 30vw;margin: 100px 100px">

<script type="module" src="/carrito.js"></script>
<style>
     body { background: #f6f6f6; } 
</style>
<script 
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAIgHRdKzKEajo2T9uICvkdIHToQxgDfHg&libraries=places&calback=initMap&v=weekly">
      async
</script>
{{#if clientes}}
<input type="hidden" id="clientes" value="{{clientes}}" />
{{/if}}

<script>
  var app2 = window.app2 || {},
  business_paypal = ''; // aquí va tu correo electrónico de paypal
</script>
<div class="alert alert-light" role="alert">
  <h3>¡Bienvenido a Vaper Studio Mx!</h3>
  <p>Para agilizar tu compra, porfavor sigue estos sencillos pasos:</p>
  <div class="list-group">
  <a href="#" class="list-group-item list-group-item-action" aria-current="">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">1. Verifíca tu pedido</h5>
      <!---<small>3 days ago</small>--->
    </div>
    <!---<p class="mb-1">Haz "scroll" a los carruseles; elige tus productos presionando el botón "AÑADIR A LA CANASTA".</p>
    <small>Puedes verificar tu carrito, dando click en el ícono ubicado en la esquina superior "DERECHA".</small>--->
  </a>
  <a href="#" class="list-group-item list-group-item-action">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">2. Completa el formulario</h5>
      <!---<small>3 days ago</small>--->
    </div>
    <!---<p class="mb-1">Llena cada campo requerido, todos son obligatorios. Al seleccionar tu domicilio, verifica que se muestre en el mapa.</p>
    <small class="text-muted">Al finalizar, si tu domicilio es validado correctamente, verás el botón de "ENVIAR", presionalo para continuar.</small>--->
  </a>
  <a href="#" class="list-group-item list-group-item-action">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">3. Revisa tu información y envia tu pedido</h5>
      <!---<small>3 days ago</small>--->
    </div>
    <!---<p class="mb-1">Al término del paso 2, aparecerá una ventana, para que puedas verificar tu información y pedido. Una vez que verifiques todo, presióna el botón "CONFIRMAR" y verás la pantalla de confirmación.</p>
    <small class="text-muted">Para verificar los datos de tarjeta, pasa el cursor sobre la tarjeta de ejemplo. Si haz presionado "CONFIRMAR" y el sistema no te redirige a la pantalla de confirmación, contacta con un asesor al teléfono: 5569158396<a href="https://api.whatsapp.com/send?phone=5569158396">AQUI</a></small>--->
  </a>
</div>
</div>
<!---<div class="productosWrapper large-12 columns">
  <div class="row">
    <div class="col-sm-12">
      <div id="carouselExampleCaptionsVsmx" class="carousel carousel-dark slide" data-bs-ride="false">
          
          <div id="carvsmx" class="carousel-inner"  >
          </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptionsVsmx" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptionsVsmx" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <div id="carouselExampleCaptionsMaskkingGt" class="carousel carousel-dark slide" data-bs-ride="false">
          
          <div id="carmaskgt" class="carousel-inner"  >
          </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptionsMaskkingGt" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptionsMaskkingGt" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
    <div class="col-sm-6">
      <div id="carouselExampleCaptionsMaskkingPro" class="carousel carousel-dark slide" data-bs-ride="false">
          
          <div id="carmaskpro" class="carousel-inner">
          </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptionsMaskkingPro" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptionsMaskkingPro" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <div id="carouselExampleCaptionsMaskkingZero" class="carousel carousel-dark slide" data-bs-ride="false">
          
          <div id="carmaskzero" class="carousel-inner"  >
          </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptionsMaskkingZero" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptionsMaskkingZero" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
    <div class="col-sm-6">
      <div id="carouselExampleCaptionsMaskkingGts" class="carousel carousel-dark slide" data-bs-ride="false">
          
          <div id="carmaskgts" class="carousel-inner">
          </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptionsMaskkingGts" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptionsMaskkingGts" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <div id="carouselExampleCaptionsRelxDevice" class="carousel carousel-dark slide" data-bs-ride="false">
          
          <div id="carrelxdevice" class="carousel-inner">
          </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptionsRelxDevice" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptionsRelxDevice" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
    <div class="col-sm-6">
      <div id="carouselExampleCaptionsRelx1Pod" class="carousel carousel-dark slide" data-bs-ride="false">
          
          <div id="carrelx1pod" class="carousel-inner" style="/*margin-top: 7vh;*/">
          </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptionsRelx1Pod" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptionsRelx1Pod" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
  </div>
</div>
<div class="row">
    <div class="col-sm-6">
      <div id="carouselExampleCaptionsRelx2Pod" class="carousel carousel-dark slide" data-bs-ride="false">
          
          <div id="carrelx2pod" class="carousel-inner">
          </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptionsRelx2Pod" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptionsRelx2Pod" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
    <div class="col-sm-6">
      <div id="carouselExampleCaptionsIqos" class="carousel carousel-dark slide" data-bs-ride="false">
          
          <div id="cariqos" class="carousel-inner" style="/*margin-top: 7vh;*/">
          </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptionsIqos" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptionsIqos" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
  </div>
</div>
<div class="row">
    <div class="col-sm-6">
      <div id="carouselExampleCaptionsJuul" class="carousel carousel-dark slide" data-bs-ride="false">
          
          <div id="carjuul" class="carousel-inner" style="/*margin-top: 15vh;*/">
          </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptionsJuul" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptionsJuul" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
    <div class="col-sm-6">
      <div id="carouselExampleCaptionsJuucy" class="carousel carousel-dark slide" data-bs-ride="false">
          
          <div id="carjuucy" class="carousel-inner">
          </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptionsJuucy" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptionsJuucy" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
  </div>
</div>--->
<form id="form" autocomplete="off" action="{{#unless pedido.id}}/new-pedido4{{else}}/update-pedido/{{pedido.id}}{{/unless}}" method="POST">
<div class="row">
  <div class="col-sm-6">
    <img src="{{#if ticket}}{{ticket}}{{/if}}" class="img-fluid" style="max-width: 100%;height: auto;"/>
    <!---<embed src="/pedidos/17320.pdf" type="application/pdf"   height="660px" width="450px">

    <iframe src="{{#if ticket}}{{ticket}}{{/if}}" height="100%" width="100%" style="/*border:none;*/">
    </iframe>--->
  </div>
  <div class="col-md-6">
    <div class="jumbotron">
      
        <div id="info">
          <div class="alert alert-success" role="alert">
            <div class="d-flex w-100 justify-content-between">
              <h6 class="mb-1">Ingresa tu código:</h6>
              <!---<small>3 days ago</small>--->
              <input
                type="text"
                name="codigo"
                id="codigo"
                placeholder="Ingresa tu código"
                class="form-control mb-3"
                value=""
                autocomplete=""
              />
            </div>
          </div>
        <div class="row">
          <div class="col">
            <label for="nomCliente">Nombre:</label>
            <input
              type="text"
              name="nomCliente"
              id="nomCliente"
              placeholder="Ingresa tu nombre"
              class="form-control mb-3"
              value="{{pedido.nomCliente}}"
              autocomplete=""
              autofocus
              required
            />
            <input id="autolat" name="autolat" type="hidden" value="" class="form-control" />
            <input id="autolng" name="autolng" type="hidden" value="" class="form-control" />
            <input id="ticket" name="ticket" type="hidden" value="{{idpedido}}" class="form-control" />
            <input id="recibo" name="recibo" type="hidden" value="{{ticket}}" class="form-control" />
            
            <input id="distancia" name="distancia" type="hidden" value="" class="form-control" />
            <input id="total_compra" name="total_compra" type="hidden" value="" class="form-control" />
            <input id="countit" name="countit" type="hidden" value="" class="form-control" />
            <input id="repartidor" name="repartidor" type="hidden" value="Pendiente" class="form-control" />
            <input id="estimado" name="estimado" type="hidden" value="" class="form-control" />
            <input id="estimadotxt" name="estimadotxt" type="hidden" value="" class="form-control" />
            <input id="costo" name="costo" type="hidden" value="" class="form-control" />
            <input id="envio" name="envio" type="hidden" value="" class="form-control" />
            <input id="org" name="org" type="hidden" value="Lago Hielmar 96, Modelo Pensil, Miguel Hidalgo, 11460 Ciudad de México, CDMX, México" class="form-control" />
          </div>
          <div class="col">
            <label for="phone_cli">Teléfono:</label>
            <input
              type="text"
              name="phone_cli"
              id="phone_cli" 
              placeholder="Teléfono"
              class="form-control mb-3"
              value="{{pedido.phone_cli}}"
              required
            />
          </div>
        </div>
          <div class="row">
            <label for="forma_pago">Forma de Pago:</label>
              <!---<input
                type="text"
                name="repartidor"
                placeholder="Ingrese numero de Repartidor"
                class="form-control mb-3"
                value="{{pedido.repartidor}}"
                autofocus
              />--->
              <select name="forma_pago" id="forma_pago"  class="form-select mb-12" autofocus placeholder="Elija forma de pago" required>
                <option value="">-Ingrese forma de pago-</option>
                <option value="debito">Débito</option>
                <option value="credito">Crédito</option>
                <option value="transferencia">Transferencia</option>
                <option value="efectivo">Efectívo</option>
                <option value="mercadoPago">Mercado Pago</option>
                <option value="payPal">PayPal</option>
                <!---<option value="rappi">Rappi</option>
                <option value="diddi">Diddi</option>--->
              </select>
            </div>
            <div id="web">
                  <div class="row" style="margin-top:4vh;">
                    <div class="col-sm-12">
                      <label for="t">Tarjeta:</label>
                        <input type="number" name="t" id="t" placeholder="" class="form-control mb-3" value="" autofocus />
                    </div>
                    <div class="col-sm-2">
                      <label for="f">Mes:</label>
                        <input type="number" name="m" id="m" placeholder="" class="form-control mb-3" value="" autofocus />
                    </div>
                    <div class="col-sm-2">
                      <label for="f">Año:</label>
                        <input type="number" name="a" id="a" placeholder="" class="form-control mb-3" value="" autofocus />
                    </div>
                    <div class="col-sm-12">
                      <label for="n">Nombre:</label>
                        <input type="text" name="n" id="n" placeholder="" class="form-control mb-3" value="" autofocus />
                    </div>
                    <div class="col-sm-12">
                      <label for="c">CVV:</label>
                        <input type="number" name="c" id="c" placeholder="" class="form-control mb-3" value="" autofocus />
                    </div>
                  </div>
              </div>
        </div>
    </div>
  </div> 
  
</div>            
<div class="row">
  <div class="col-sm-12">
    <div class="row">
          <div class="alert alert-warning" role="alert" id="dm">
              <h5>Ubicación</h5>
              <p></p>
              <div class="list-group">
                <a  class="list-group-item list-group-item-action" aria-current="">

                  <div class="d-flex w-100 justify-content-between">
                    <h6 class="mb-1">Escribe tu dirección, y con ayuda del autocompletado de <i class="bi bi-google"></i>oogle, elige la ubicación correcta :</h6>
                    
                    <!---<small>3 days ago</small>--->
                  </div>
                  <div class="col-sm-12">
                    
                    <!---<label for="dest">Domicilio:</label>--->
                    <input
                      type="dest"
                      name="dest"
                      id="dest"
                      placeholder="Domicilio"
                      class="form-control mb-3"
                      value="{{pedido.dest}}"
                      required
                    />

                    <!---<input id="destlat" name="destlat" type="hidden" value="" />
                    <input id="destlong" name="destlong" type="hidden" value="" />--->
                  </div> 
                  <!---<p class="mb-1">Haz "scroll" a los carruseles; elige tus productos presionando el botón "AÑADIR A LA CANASTA".</p>
                  <small>Puedes verificar tu carrito, dando click en el ícono ubicado en la esquina superior "DERECHA".</small>--->
                </a>
              </div>
            </div>
          <div id="prs"></div>
        
        {{#if pedido.id}}
          <!---<a
                  href="/edit-pedido/{{pedido.id}}"
                  class="btn btn-secondary"
                >Actualizar</a>
          <a href="/" class="btn btn-secondary">
            Cancel
          </a>--->
        {{else}}
          <!--<button id="confirma" type="submit" class="btn btn-primary btn-block"  data-bs-toggle="modal" data-bs-target="#myModal" style="display:none;">
            Agregar
          </button>--->
          <div class="d-grid gap-2">
            <button id="confirma" class="btn btn-dark" type="submit" style="display:none;">Enviar</button>
            <!---<button class="btn btn-primary" type="button">Button</button>--->
          </div>
        {{/if}}
        </div>
    <div id="googleMap">

    </div>
  </div>
</div>
</form>
 


  
  <!-- Modal -->
  <div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="myModal" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header" style="background: #000;color: #fff;">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Resumen Pedido</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div id="confirma_orden" class="modal-body">
          
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button id="confirma_pedido" type="button" class="btn btn-primary">Confirmar</button>
        </div>
      </div>
    </div>
  </div>
  <!--- Modal --->


<!---<p>Click the button to get your coordinates.</p>

<button onclick="getLocation()">Try It</button>

<p id="demo"></p>--->
  



<script type="text/javascript">

  var x = document.getElementById("demo");
  function getLocation() {
    if (navigator.geolocation) {
      navigator.geolocation.watchPosition(showPosition);
    } else {
      x.innerHTML = "Geolocation is not supported by this browser.";
    }
  }
  function showPosition(position) {
    x.innerHTML = "Latitude: " + position.coords.latitude +
    "<br>Longitude: " + position.coords.longitude;
  }

  var apiGeolocationSuccess = function(position) {
    //alert("API geolocation success!\n\nlat = " + position.coords.latitude + "\nlng = " + position.coords.longitude);
    var latlng = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);
    // This is making the Geocode request
    var geocoder = new google.maps.Geocoder();
    geocoder.geocode({ 'latLng': latlng }, function (results, status) {
        if (status !== google.maps.GeocoderStatus.OK) {
            alert(status);
        }
        // This is checking to see if the Geoeode Status is OK before proceeding
        if (status == google.maps.GeocoderStatus.OK) {
            console.log(results[0].formatted_address);
            var address = (results[0].formatted_address);
            $('#dest').val(address);
            $('#dest').change();
            calcRoute();
        }
    });
};

var tryAPIGeolocation = function() {
    jQuery.post( "https://www.googleapis.com/geolocation/v1/geolocate?key=AIzaSyAIgHRdKzKEajo2T9uICvkdIHToQxgDfHg", function(success) {
        apiGeolocationSuccess({coords: {latitude: success.location.lat, longitude: success.location.lng}});
  })
  .fail(function(err) {
    alert("API Geolocation error! \n\n"+err);
  });
};

var browserGeolocationSuccess = function(position) {
    alert("Browser geolocation success!\n\nlat = " + position.coords.latitude + "\nlng = " + position.coords.longitude);
};

var browserGeolocationFail = function(error) {
  switch (error.code) {
    case error.TIMEOUT:
      alert("Browser geolocation error !\n\nTimeout.");
      break;
    case error.PERMISSION_DENIED:
      if(error.message.indexOf("Only secure origins are allowed") == 0) {
        tryAPIGeolocation();
      }
      break;
    case error.POSITION_UNAVAILABLE:
      alert("Browser geolocation error !\n\nPosition unavailable.");
      break;
  }
};

var tryGeolocation = function() {
  if (navigator.geolocation) {
    navigator.geolocation.getCurrentPosition(
        browserGeolocationSuccess,
      browserGeolocationFail,
      {maximumAge: 50000, timeout: 20000, enableHighAccuracy: true});
  }
};

tryGeolocation();

  $(document).on('click','.cart-icon',function(){
        if($('.carrito').hasClass('cerrado')){
          $('.carrito').removeClass('cerrado')
          $('.carrito').css('display','block')
        }else{
          $('.carrito').addClass('cerrado')
          $('.carrito').css('display','none')
        }
        
      }).on('change','#forma_pago',function(){
        console.log($(this).val());
        if($(this).val() == "credito"){
          $('.ccard').css('display','block')
        }else{
          $('.ccard').css('display','none')
        }
      }).on('click','#confirma_pedido',function(){
        console.log(JSON.parse(window.localStorage.getItem('cart')))
        window.localStorage.clear();
        $('#confirma').click();
      }).on("change","#codigo",function(){
        $.get("http://vaperstudio.com:4000/autollenalanding/"+$(this).val(),{ cliente : $(this).val()  }, function(data, status){
                          console.log(data);
                          /*$("#marcadores").val();
                          $("#marcadores").val(data);*/
                          //mar = $("#marcadores").val().split("@");
                          //console.log(mar.length+"LENGTH");
                          //for (i = 0; i <= mar.length-1; i++) { 
                            //console.log(mar);
                          //if(i == 0/*marcadores.length-2*/){
                            //console.log(data[0]);
                            $('#web').css('display','none');
                            $("#dest").val(data[0].domicilio);
                            $("#phone_cli").val(data[0].telefono);
                            $("#forma_pago").val(data[0].forma_pago);
                            $("#nomCliente").val(data[0].nombre);
                            $("#t").val(data[0].t);
                            $("#m").val(data[0].m);
                            $("#a").val(data[0].a);
                            $("#n").val(data[0].n);
                            $("#c").val(data[0].c);
                            calcRoute();
                            //var coo = data.split(",");
                              //var coord = data.split(",");
                              //console.log(coord[0]+"<-->"+coord[1]);
                              //motoMrk.setMap(null);
                               /*var coo = coord[i].split(",");
                              console.log(coo);
                              motoMrk = {
                                        url: "/imgs/delivery_icon.png", // url
                                        scaledSize: new google.maps.Size(25, 25), // scaled size
                                        //origin: new google.maps.Point(0,0), // origin
                                        //anchor: new google.maps.Point(0, 0) // anchor
                                    };
                              motoMrk = new google.maps.Marker({
                              position: new google.maps.LatLng(data[0].latitude, data[0].longitude),
                              icon: moto,
                              map: map
                            });

                              motoMrk.setPosition( new google.maps.LatLng( coo[0], coo[1] ) );
                              map.panTo( new google.maps.LatLng( coo[0], coo[1] ) );*/
                              
                            //}
                          //}
                        });
      }).on("click","#confirma",function(){
        $('#web').css('display','block');
      });

      var myLatLng = { lat: 38.3460, lng: -0.4907 };
      var mapOptions = {
          center: myLatLng,
          zoom: 7,
          mapTypeId: google.maps.MapTypeId.ROADMAP,
          

      };

      //create map
      var map = new google.maps.Map(document.getElementById('googleMap'), mapOptions);

      //create a DirectionsService object to use the route method and get a result for our request
      var directionsService = new google.maps.DirectionsService();

      //create a DirectionsRenderer object which we will use to display the route
      var directionsDisplay = new google.maps.DirectionsRenderer();

      //bind the DirectionsRenderer to the map
      directionsDisplay.setMap(map);
      


      //define calcRoute function
      function calcRoute() {
            var address1 = $("#org").val();
            fetch("https://maps.googleapis.com/maps/api/geocode/json?address="+address1+'&key=AIzaSyAIgHRdKzKEajo2T9uICvkdIHToQxgDfHg')
            .then(response => response.json())
            .then(data => {
              const latitude1 = data.results[0].geometry.location.lat;
              //$("#orglat").val(latitude1.toString());
              const longitude1 = data.results[0].geometry.location.lng;
              //$("#orglong").val(longitude1.toString());
              console.log({latitude1, longitude1})
            });

            var address2 = $("#dest").val();
              fetch("https://maps.googleapis.com/maps/api/geocode/json?address="+address2+'&key=AIzaSyAIgHRdKzKEajo2T9uICvkdIHToQxgDfHg')
              .then(response => response.json())
              .then(data => {
                const latitude2 = data.results[0].geometry.location.lat;
                //$("#destlat").val(latitude2.toString());
                const longitude2 = data.results[0].geometry.location.lng;
                //$("#destlong").val(longitude2.toString());
                console.log({latitude2, longitude2})
              });

            var alat = $('#autolat').val();
            var alng = $('#autolng').val();
            var dest;
            if((alat != "" && alat !== undefined) && (alng != "" && alng !== undefined)){
              dest = new google.maps.LatLng(parseFloat(alat),parseFloat(alng));
            }else{
              dest = $("#dest").val();
            }
            
          //create request
          var request = {
              //origin: document.getElementById("org").value,
              //destination: document.getElementById("dest").value,
              origin: $("#org").val(),
              destination: dest,
              travelMode: google.maps.TravelMode.TWO_WHEELER, //WALKING, BYCYCLING, TRANSIT
              unitSystem: google.maps.UnitSystem.IMPERIAL,
              avoidHighways: true,
            avoidTolls: true,
            optimizeWaypoints : true,
            provideRouteAlternatives: true,
            drivingOptions: {
              departureTime: new Date(/* now, or future date */),
              trafficModel: 'bestguess'
           },
          }

          //pass the request to the route method
          directionsService.route(request, function (result, status) {
              if (status == google.maps.DirectionsStatus.OK) {
                  var distance = result.routes[0].legs[0].distance.value; // meters
                  var distance_KM = distance / 1000; // convert to kilometers

                  var time = result.routes[0].legs[0].duration.value; // meters
                  var est_min = time / 60; // convert to kilometers

                  var envio = 0;
                  if (parseFloat(distance_KM) >= 1.00 && parseFloat(distance_KM) <= 4.99){
                      envio = 75;
                    }else if (parseFloat(distance_KM) >= 5.00 && parseFloat(distance_KM) <= 9.99){
                      envio = 99;
                    }else if(parseFloat(distance_KM) >= 10.00 && parseFloat(distance_KM) <= 14.99){
                      envio = 149;
                    }else if(parseFloat(distance_KM) >= 15.00 && parseFloat(distance_KM) <= 28.00){
                      envio = 199;
                    }

                  //Get distance and time
                  //const output = document.querySelector('#output');
                  //output.innerHTML = "<div class='alert-info'>From: " + document.getElementById("org").value + ".<br />To: " + document.getElementById("dest").value + ".<br /> Distancia <i class='fas fa-road'></i> : " + distance_KM /*result.routes[0].legs[0].distance.text*/ + " km.<br />Tiempo Estimado <i class='fas fa-hourglass-strt'></i> : " + result.routes[0].legs[0].duration.text + ". <br /> Costo : $"+(distance_KM*7)+" MXN</div>";
                  $("#costo").val((distance_KM*7));
                  $("#envio").val(envio);
                  //$("#costo").val((distance_KM));
                  $("#distancia").val(distance_KM);
                  $("#estimadotxt").val(result.routes[0].legs[0].duration.text);
                  $("#estimado").val(Math.round(est_min));
                  //console.log(result.routes[0].legs[0].duration.value);
                  //display route
                  directionsDisplay.setDirections(result);
                  $('#confirma').css('display','block')
              } else {
                  //delete route from map
                  directionsDisplay.setDirections({ routes: [] });
                  //center map in London
                  map.setCenter(myLatLng);

                  //show error message
                  output.innerHTML = "<div class='alert-danger'><i class='fas fa-exclamation-triangle'></i> Could not retrieve driving distance.</div>";
              }
          });

      }

      

</script>